<%- include('partials/header', { title }) %>

    <main class="container">

        <h1>
            <%= title %>
        </h1>

        <p>Here are a few of our partner organizations:</p>

        <ul class="org-list">

            <li>
                <img src="/images/brightfuture-logo.png" alt="BrightFuture Builders logo">
                <div>
                    <strong>BrightFuture Builders</strong><br>
                    info@brightfuture.org
                </div>
            </li>

            <li>
                <img src="/images/greenharvest-logo.png" alt="GreenHarvest Growers logo">
                <div>
                    <strong>GreenHarvest Growers</strong><br>
                    contact@greenharvest.org
                </div>
            </li>

            <li>
                <img src="/images/unityserve-logo.png" alt="UnityServe Volunteers logo">
                <div>
                    <strong>UnityServe Volunteers</strong><br>
                    hello@unityserve.org
                </div>
            </li>

        </ul>

    </main>

    <%- include('partials/footer') %>